@{
    ViewBag.Title = "Gerar QR Code";
}
<br /><br />
<div class="row">
    <div class="col-md-12">
        @if (ViewBag.QRCodeImage != null)
        {
            <a href="@ViewBag.Url" target="_blank"><h2>@ViewBag.Url</h2></a>
            <br />
            <img src="@ViewBag.QRCodeImage" alt="" style="height:150px;width:150px" />
        }
    </div>
</div>


